.d-editor-lexical__editable {
  .editor-heading-h1,
  .editor-heading-h2,
  .editor-heading-h3,
  .editor-heading-h4,
  .editor-heading-h5,
  .editor-heading-h6 {
    margin: 30px 0 10px;
    &:first-child {
      margin-top: 0;
    }
  }

  .editor-heading-h1 {
    font-size: var(--font-up-3-rem);
  }

  .editor-heading-h2 {
    font-size: var(--font-up-2-rem);
  }

  .editor-heading-h3 {
    font-size: var(--font-up-1-rem);
  }

  .editor-text-underlineStrikethrough {
    text-decoration: underline line-through;
  }

  .editor-text-strikethrough {
    text-decoration: line-through;
  }

  .editor-text-italic {
    font-style: italic;
  }

  .editor-text-underline {
    text-decoration: underline;
  }

  .editor-image img {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }

  .editor-emoji {
    display: inline-table;
  }

  .editor-mention {
    display: inline-block;
    font-size: 0.93em;
    font-weight: normal;
    color: var(--primary);
    padding: 0 0.4em 0.07em;
    background: var(--primary-low);
    border-radius: 0.6em;
    text-decoration: none;
  }

  .editor-code {
    display: block;
    padding: 8px 8px 8px 52px;
    line-height: 1.53;
    font-size: 13px;
    // margin removed for code-editor, maybe a different style for rich-editor?
    //margin: 8px 0;
    tab-size: 2;
    //white-space: pre;
    overflow-x: auto;
    position: relative;

    word-wrap: normal;
    color: var(--primary);
    background-color: var(--blend-primary-secondary-5);

    &:before {
      content: attr(data-gutter);
      position: absolute;
      background-color: #eee;
      left: 0;
      top: 0;
      border-right: 1px solid #ccc;
      padding: 8px;
      color: #777;
      white-space: pre-wrap;
      text-align: right;
      min-width: 25px;
    }

    &:after {
      content: attr(data-highlight-language);
      top: 0;
      right: 3px;
      padding: 3px;
      font-size: 10px;
      text-transform: uppercase;
      position: absolute;
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .editor-image-node {
    border: 2px solid transparent;

    &--selected {
      border: 2px solid var(--tertiary);
    }
  }

  .editor-list-ul,
  .editor-list-ol {
    padding-left: 1.25em;

    .editor-nested-listitem {
      list-style: none;
    }
  }

  .editor-table {
    & th {
      text-align: left;
      padding-bottom: 2px;
      font-weight: bold;
      color: var(--primary);
    }

    // TODO reassess after creating a proper table component
    & tr:nth-of-type(2) {
      border-top: 3px solid var(--primary-low);
    }

    .editor-paragraph {
      margin: 3px 3px 3px 0.5em;
    }
  }

  .editor-unknown {
    position: relative;
    border: 2px dashed var(--danger-low);

    &__label {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.25em;
      background: var(--primary-low);
      color: var(--primary);
      font-size: var(--font-down-2);
      user-select: none;
      pointer-events: none;
    }
  }

  .editor-raw {
    display: inline;
    border: 2px dashed var(--primary-low);
  }
}
